$blue: #0037ff;
$white: #ffffff;
$black: #000000;
$gray: #f2f2f2;
$green: #39d52d;

.profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}

.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $gray;
}
