$blue: #0037ff;
$white: #ffffff;
$black: #000000;
$gray: #f2f2f2;
$green: #39d52d;

.header {
    display: flex;
}

.privilege-card{
    display: flex;
    flex-direction: column;
}

.MuiFormGroup-root{
    display: flex;
    flex-direction: row !important;

}